# MATLAB
*.asv
*.bak
*.log
*.aux
*.synctex(busy)
*.mw*
/simulink/
/data/
/generated/
/.DS_Store
.matlab/

# Media and output files
*.mp4
*.gif
*.png

# Exclude cache and environment folders
.mex/
.tmp/

# Environment or IDE configuration files
.vscode/
.idea/